# Run once:
./makemyconfig.pl squid-static.conf.template squid.conf


# Run for each instance:
./makemyconfig.pl squid-instance.conf.template squidinstance.conf
cat squidinstance.conf >> squid.conf

# After config is prepared, copy it to its place:
cp -f squid.conf /etc/squid3/squid.conf

# Reload Squid config:
/etc/init.d/squid3 reload
